{% extends 'index.html' %} {% block content %} {% load staticfiles %}


<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Admin /</span> Units</h4>

<!-- DataTable with Buttons -->
        <div class="card">
            <div class="card-datatable table-responsive pt-0">
            <table class="datatables-basic table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Date added</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                  {% for row in units %}
                  <tr>
                    <td>{{row.name}}</td>
                    <td>
                        {% if row.is_active == True %}<span class="badge bg-label-success">Active</span> {% else %}<span class="badge bg-label-danger">Inactive</span> {% endif %}
                    </td>
                    <td>{{row.created_at}}</td>
                    <td><a class="btn btn-sm btn-icon item-edit" id={{row.id}} value="{{row.name}}" status="{{row.is_active}}"><i class="text-primary ti ti-pencil"></i></a></td>
                  </tr>
                 {% endfor %}
                 </tbody> 
            </table>
            </div>
        </div>
    </div>
</div>
  <!-- Modal to add new record -->
  <div class="offcanvas offcanvas-end" id="add-new-record">
    <div class="offcanvas-header border-bottom">
      <h5 class="offcanvas-title" id="exampleModalLabel"><p class="title-name">Add Record</p></h5>
      <button
        type="button"
        class="btn-close text-reset"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body flex-grow-1">
      <form class="add-new-record pt-0 row g-2" id="form-add-new-record" action="javascript:;">
        <div class="col-sm-12">
          <label class="form-label" for="unitsname">units Name</label>
          <div class="input-group input-group-merge">
            <span id="unitsname2" class="input-group-text"><i class="ti ti-user"></i></span>
            <input
              type="text"
              id="unitsname"
              class="form-control dt-units-name"
              name="unitsname"
              placeholder="Enter units name"
              aria-label="Oxytocin"
              aria-describedby="unitsname2"
            />
          </div>
        </div>

        <div class="col-sm-12 units-status">
          <label class="form-label" for="unitsname">Status</label>
          <div class="input-group input-group-merge">
            <span id="unitsname2" class="input-group-text"><i class="ti ti-user"></i></span>

              <select class="form-select select-status" id="select">
                <option value="1">Active</option>
                <option value="0">Inactive</option>
              </select>
    
          </div>
        </div>
                
        <div class="col-sm-12 update-div-units">
          <br>
          <button type="submit" id="add-units" class="btn btn-primary data-submit me-sm-3 me-1 additional-record">Submit</button>
          <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="offcanvas">Cancel</button>
        </div>
      </form>
    </div>
  </div>

  


{% endblock %} 
{% block footer_scripts %}
<script>
let id,name,status,identifier_swal;
$(document).ready(function(){

  $("#form-add-new-record").click(function (event) {



    let fv, offCanvasEl;
        $unitsname = $('#unitsname').val();
        $selectvalue = $('#select').find(":selected").val();
        if(id){request_url = "{% url 'update-units' %}";identifier_swal = "Update";}
        else{identifier_swal = "Add";request_url = "{% url 'add-units' %}";}

        
        if($unitsname != ""){
          Swal.fire({
            title: 'Are you sure?',
            html: identifier_swal+" "+'<strong>'+$unitsname+ " ?"+'</strong>',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes',
            customClass: {
              confirmButton: 'btn btn-primary me-3',
              cancelButton: 'btn btn-label-secondary'
            },
            buttonsStyling: false
      }).then(function (result) {
        if (result.value) {
            $.ajax({
                type: "POST",
                url: request_url,
                data:{
                    unitsname: $unitsname,is_active : $selectvalue, units_id: id
                }
            }).done(function(data){
              if(data.data == "success"){
                Swal.fire({
                    icon: 'success',
                    title: 'Successfully save!',
                    text: $unitsname +' has been added.',
                    customClass: {
                      confirmButton: 'btn btn-success'
                    }
                  });
                    window.location.reload();
              }
              else{
                Swal.fire({
                    icon: 'error',
                    title: 'Invalid units Name',
                    text: $unitsname +' already exist',
                    customClass: {
                      confirmButton: 'btn btn-success'
                    }});
                  }
                });
              }});
            }
            else {
              
              const formAddNewRecord = document.getElementById('form-add-new-record');
              

              // Form validation for Add new record
              fv = FormValidation.formValidation(formAddNewRecord, {
                fields: {
                  unitsname: {
                    validators: {
                      notEmpty: {
                        message: 'The name is required'
                      }
                    }
                  },
                },
                plugins: {
                  trigger: new FormValidation.plugins.Trigger(),
                  bootstrap5: new FormValidation.plugins.Bootstrap5({
                    // Use this for enabling/changing valid/invalid class
                    // eleInvalidClass: '',
                    eleValidClass: '',
                    rowSelector: '.col-sm-12'
                  }),
                  submitButton: new FormValidation.plugins.SubmitButton(),
                  // defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                  autoFocus: new FormValidation.plugins.AutoFocus()
                },
                init: instance => {
                  instance.on('plugins.message.placed', function (e) {
                    if (e.element.parentElement.classList.contains('input-group')) {
                      e.element.parentElement.insertAdjacentElement('afterend', e.messageElement);
                    }
                  });
                }
            });




            }


      
  });

    $('.item-edit').click(function (event) {
      let fv, offCanvasEl;
      $('.units-status').show();
      id = $(this).attr('id');
      name = $(this).attr('value')
      status = $(this).attr('status')
      if (status == "True"){status =1}
      else {status =0}
      $('.title-name').text('Update Record');
      $('.dt-units-name').text('Update Record');
      offCanvasElement = document.querySelector('#add-new-record'); 
      
      offCanvasEl = new bootstrap.Offcanvas(offCanvasElement);
      (offCanvasElement.querySelector('.dt-units-name').value = name);
      (offCanvasElement.querySelector('.select-status').value = status),
        offCanvasEl.show();
    });

    // $('#add-units').on('click', function(){
      //   let fv, offCanvasEl;
      //   $unitsname = $('#unitsname').val();
      //   $selectvalue = $('#select').find(":selected").val();
      //   if(id){request_url = "{% url 'update-units' %}";identifier_swal = "Update";}
      //   else{identifier_swal = "Add";request_url = "{% url 'add-units' %}";}
      //   if($unitsname != ""){
      //     Swal.fire({
      //       title: 'Are you sure?',
      //       html: identifier_swal+" "+'<strong>'+$unitsname+ " ?"+'</strong>',
      //       icon: 'warning',
      //       showCancelButton: true,
      //       confirmButtonText: 'Yes',
      //       customClass: {
      //         confirmButton: 'btn btn-primary me-3',
      //         cancelButton: 'btn btn-label-secondary'
      //       },
      //       buttonsStyling: false
      // }).then(function (result) {
      //   if (result.value) {
      //       $.ajax({
      //           type: "POST",
      //           url: request_url,
      //           data:{
      //               unitsname: $unitsname,is_active : $selectvalue, units_id: id
      //           }
      //       }).done(function(data){
      //         if(data.data == "success"){
      //           Swal.fire({
      //               icon: 'success',
      //               title: 'Successfully save!',
      //               text: $unitsname +' has been added.',
      //               customClass: {
      //                 confirmButton: 'btn btn-success'
      //               }
      //             });
      //               window.location.reload();
      //         }
      //         else{
      //           Swal.fire({
      //               icon: 'error',
      //               title: 'Invalid units Name',
      //               text: $unitsname +' already exist',
      //               customClass: {
      //                 confirmButton: 'btn btn-success'
      //               }});
      //             }
      //           });
      //         }});
      //       }
          // });


            // const formAddNewRecord = document.getElementById('form-add-new-record');

            // // Form validation for Add new record
            // fv = FormValidation.formValidation(formAddNewRecord, {
            //   fields: {
            //     unitsname: {
            //       validators: {
            //         notEmpty: {
            //           message: 'The name is required'
            //         }
            //       }
            //     },
            //   },
            //   plugins: {
            //     trigger: new FormValidation.plugins.Trigger(),
            //     bootstrap5: new FormValidation.plugins.Bootstrap5({
            //       // Use this for enabling/changing valid/invalid class
            //       // eleInvalidClass: '',
            //       eleValidClass: '',
            //       rowSelector: '.col-sm-12'
            //     }),
            //     submitButton: new FormValidation.plugins.SubmitButton(),
            //     // defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
            //     autoFocus: new FormValidation.plugins.AutoFocus()
            //   },
            //   init: instance => {
            //     instance.on('plugins.message.placed', function (e) {
            //       if (e.element.parentElement.classList.contains('input-group')) {
            //         e.element.parentElement.insertAdjacentElement('afterend', e.messageElement);
            //       }
            //     });
            //   }
            // });



        });

// 'use strict';
let fv, offCanvasEl;


  document.addEventListener('DOMContentLoaded', function (e) {
    (function () {
      const formAddNewRecord = document.getElementById('form-add-new-record');

      setTimeout(() => {
        const newRecord = document.querySelector('.create-new'),
          offCanvasElement = document.querySelector('#add-new-record');

        // To open offCanvas, to add new record
        if (newRecord) {
          newRecord.addEventListener('click', function () {
            $('.title-name').text('Add Record');
            $('.units-status').hide();
            $('.update-div-units update-units').hide();
            id = "";         
            identifier_swal = "Add";          
            offCanvasEl = new bootstrap.Offcanvas(offCanvasElement);
            // Empty fields on offCanvas open
            (offCanvasElement.querySelector('.dt-units-name').value = '');
            // Open offCanvas with form
            offCanvasEl.show();
          });
        }
      }, 200);

      // // Form validation for Add new record
      // fv = FormValidation.formValidation(formAddNewRecord, {
      //   fields: {
      //     unitsname: {
      //       validators: {
      //         notEmpty: {
      //           message: 'The name is required'
      //         }
      //       }
      //     },
      //   },
      //   plugins: {
      //     trigger: new FormValidation.plugins.Trigger(),
      //     bootstrap5: new FormValidation.plugins.Bootstrap5({
      //       // Use this for enabling/changing valid/invalid class
      //       // eleInvalidClass: '',
      //       eleValidClass: '',
      //       rowSelector: '.col-sm-12'
      //     }),
      //     submitButton: new FormValidation.plugins.SubmitButton(),
      //     // defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
      //     autoFocus: new FormValidation.plugins.AutoFocus()
      //   },
      //   init: instance => {
      //     instance.on('plugins.message.placed', function (e) {
      //       if (e.element.parentElement.classList.contains('input-group')) {
      //         e.element.parentElement.insertAdjacentElement('afterend', e.messageElement);
      //       }
      //     });
      //   }
      // });
    })();
  });


//datatables

$(function () {
  var dt_basic_table = $('.datatables-basic'),
    dt_complex_header_table = $('.dt-complex-header'),
    dt_row_grouping_table = $('.dt-row-grouping'),
    dt_multilingual_table = $('.dt-multilingual'),
    dt_basic;

  // DataTable with buttons
  // --------------------------------------------------------------------

  if (dt_basic_table.length) {
    
    dt_basic = dt_basic_table.DataTable({
      // ajax: assetsPath + 'json/table-datatable.json',
      
      // columns: [
      //   { data: 'name' },
      //   { data: 'status' },
      //   { data: 'date_added' },
      //   { data: '' }
      // ],
      columnDefs: [

       
      ],
      order: [[2, 'desc']],
      dom: '<"card-header flex-column flex-md-row"<"head-label text-center"><"dt-action-buttons text-end pt-3 pt-md-0"B>><"row"<"col-sm-12 col-md-6"l><"col-sm-12 col-md-6 d-flex justify-content-center justify-content-md-end"f>>t<"row"<"col-sm-12 col-md-6"i><"col-sm-12 col-md-6"p>>',
      displayLength: 7,
      lengthMenu: [7, 10, 25, 50, 75, 100],
      buttons: [
        {
          extend: 'collection',
          className: 'btn btn-label-primary dropdown-toggle me-2',
          text: '<i class="ti ti-file-export me-sm-1"></i> <span class="d-none d-sm-inline-block">Export</span>',
          buttons: [
            {
              extend: 'print',
              text: '<i class="ti ti-printer me-1" ></i>Print',
              className: 'dropdown-item',
              exportOptions: {
                columns: [3, 4, 5, 6, 7],
                // prevent avatar to be display
                format: {
                  body: function (inner, coldex, rowdex) {
                    if (inner.length <= 0) return inner;
                    var el = $.parseHTML(inner);
                    var result = '';
                    $.each(el, function (index, item) {
                      if (item.classList !== undefined && item.classList.contains('user-name')) {
                        result = result + item.lastChild.firstChild.textContent;
                      } else if (item.innerText === undefined) {
                        result = result + item.textContent;
                      } else result = result + item.innerText;
                    });
                    return result;
                  }
                 }
              },
              customize: function (win) {
                //customize print view for dark
                $(win.document.body)
                  .css('color', config.colors.headingColor)
                  .css('border-color', config.colors.borderColor)
                  .css('background-color', config.colors.bodyBg);
                $(win.document.body)
                  .find('table')
                  .addClass('compact')
                  .css('color', 'inherit')
                  .css('border-color', 'inherit')
                  .css('background-color', 'inherit');
              }
            },
            {
              extend: 'csv',
              text: '<i class="ti ti-file-text me-1" ></i>Csv',
              className: 'dropdown-item',
              exportOptions: {
                columns: [3, 4, 5, 6, 7],
                // prevent avatar to be display
                format: {
                  body: function (inner, coldex, rowdex) {
                    if (inner.length <= 0) return inner;
                    var el = $.parseHTML(inner);
                    var result = '';
                    $.each(el, function (index, item) {
                      if (item.classList !== undefined && item.classList.contains('user-name')) {
                        result = result + item.lastChild.firstChild.textContent;
                      } else if (item.innerText === undefined) {
                        result = result + item.textContent;
                      } else result = result + item.innerText;
                    });
                    return result;
                  }
                }
              }
            },
            {
              extend: 'excel',
              text: '<i class="ti ti-file-spreadsheet me-1"></i>Excel',
              className: 'dropdown-item',
              exportOptions: {
                columns: [3, 4, 5, 6, 7],
                // prevent avatar to be display
                format: {
                  body: function (inner, coldex, rowdex) {
                    if (inner.length <= 0) return inner;
                    var el = $.parseHTML(inner);
                    var result = '';
                    $.each(el, function (index, item) {
                      if (item.classList !== undefined && item.classList.contains('user-name')) {
                        result = result + item.lastChild.firstChild.textContent;
                      } else if (item.innerText === undefined) {
                        result = result + item.textContent;
                      } else result = result + item.innerText;
                    });
                    return result;
                  }
                }
              }
            },
            {
              extend: 'pdf',
              text: '<i class="ti ti-file-description me-1"></i>Pdf',
              className: 'dropdown-item',
              exportOptions: {
                columns: [3, 4, 5, 6, 7],
                // prevent avatar to be display
                format: {
                  body: function (inner, coldex, rowdex) {
                    if (inner.length <= 0) return inner;
                    var el = $.parseHTML(inner);
                    var result = '';
                    $.each(el, function (index, item) {
                      if (item.classList !== undefined && item.classList.contains('user-name')) {
                        result = result + item.lastChild.firstChild.textContent;
                      } else if (item.innerText === undefined) {
                        result = result + item.textContent;
                      } else result = result + item.innerText;
                    });
                    return result;
                  }
                }
              }
            },
            {
              extend: 'copy',
              text: '<i class="ti ti-copy me-1" ></i>Copy',
              className: 'dropdown-item',
              exportOptions: {
                columns: [3, 4, 5, 6, 7],
                // prevent avatar to be display
                format: {
                  body: function (inner, coldex, rowdex) {
                    if (inner.length <= 0) return inner;
                    var el = $.parseHTML(inner);
                    var result = '';
                    $.each(el, function (index, item) {
                      if (item.classList !== undefined && item.classList.contains('user-name')) {
                        result = result + item.lastChild.firstChild.textContent;
                      } else if (item.innerText === undefined) {
                        result = result + item.textContent;
                      } else result = result + item.innerText;
                    });
                    return result;
                  }
                }
              }
            }
          ]
        },
        {
          text: '<i class="ti ti-plus me-sm-1"></i> <span class="d-none d-sm-inline-block">Add New Record</span>',
          className: 'create-new btn btn-primary'
        }
      ],
      responsive: {
        details: {
          display: $.fn.dataTable.Responsive.display.modal({
            header: function (row) {
              var data = row.data();
              return 'Details of ' + data['full_name'];
            }
          }),
          type: 'column',
          renderer: function (api, rowIdx, columns) {
            var data = $.map(columns, function (col, i) {
              return col.title !== '' // ? Do not show row in modal popup if title is blank (for check box)
                ? '<tr data-dt-row="' +
                    col.rowIndex +
                    '" data-dt-column="' +
                    col.columnIndex +
                    '">' +
                    '<td>' +
                    col.title +
                    ':' +
                    '</td> ' +
                    '<td>' +
                    col.data +
                    '</td>' +
                    '</tr>'
                : '';
            }).join('');

            return data ? $('<table class="table"/><tbody />').append(data) : false;
          }
        }
      }
    });
    $('div.head-label').html('<h5 class="card-title mb-0">Admin</h5>');
  }

  // Add New record
  // ? Remove/Update this code as per your requirements
  var count = 101;
  // On form submit, if form is valid
  fv.on('core.form.valid', function () {
    var $new_name = $('.add-new-record .dt-units-name').val();


    if ($new_name != '') {
      dt_basic.row
        .add({
          id: count,
          full_name: $new_name
        })
        .draw();
      count++;

      // Hide offcanvas using javascript method
      offCanvasEl.hide();
    }
  });
});

</script>
{% endblock footer_scripts %}









